<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Anti-Plagiarism System</title>
        <style>
            .btn {
                display: inline-block;
                background: #126bba;
                color: rgb(255, 255, 255);
                padding: 1rem 1.5rem;
                text-decoration: none;
                border-radius: 3px;
            }
        </style>
    </head>
    <body>
        <h1 align="center">Anti-Plagiarism System</h1>
        <p align="center">
            <a href="/file-upload" class="btn">Start</a>
        </p>
    </body>
</html>