<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Anti-Plagiarism System</title>
        <style>
            input {
                display: inline-block;
                background: #126bba;
                color: rgb(255, 255, 255);
                padding: 0.5rem 1.5rem;
                text-decoration: none;
                border-radius: 3px;
            }
            select {
                margin: 5px;
            }
            input {
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Upload File</h1>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload><Br> 
            <select name="algorithm" id="algorithm-select">
                <option value="shingle" selected>Shingle algorithm</option>
                <option value="jaccard">Jaccard algorithm</option>
                <!-- <option value="ochiai">Squared measure of Ochiai</option> -->
                <option value="ochiai">Ochiai measure</option>
                <option value="levenshtein">Levenshtein distance</option>
            </select><Br>
            <input type="checkbox" name="comments" value="True">Keep comments<Br> 
            <input type="checkbox" name="table" value="True">Show table<Br>
            <label> The critical part of the similarity: </label>
            <input type="number" name="lim" min="0" max="100" value="20">
        </form>
    </body>
</html>